.hero {
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
}
.containerIA {
  border: 1px solid black;
  width: 500px;
}
.containerIA h1 {
  text-align: center;
}
.containerCameraIA {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 23rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.containerCameraIA img {
  width: 10em;
  height: 10em;
}
.containerUser {
  width: 500px;
  border: 1px solid black;
}
.containerCamera {
  min-width: 30rem;
  min-height: 20rem;
}
.cameraUser {
  width: 100%;
}
.imgVS {
  position: absolute;
  bottom: 20rem;
  width: 12em;
  height: 12em;
}
