.hero {
  display: flex;
  justify-content: space-around;
  padding: 5rem 0 4.1rem 0;
}

.header {
  background-color: rgb(39, 39, 39);
  height: 5rem;
}
.buttonBack {
  background-color: rgb(39, 39, 39);
  border: none;
  cursor: pointer;
}
.buttonBack img {
  width: 4rem;
  transition: filter 0.2s ease;
}
.buttonBack img:hover {
  filter: drop-shadow(4px 4px 8px rgba(255, 255, 255, 0.5));
}
.containerIA {
  border: 1px solid black;
  border-radius: 10px;
  width: 400px;
}
.containerIA h1 {
  text-align: center;
  background-color: rgb(39, 39, 39);
  border-radius: 9px;
  border-bottom: 1px solid black;
}
.containerCameraIA {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 23rem;
}
.containerCameraIA img {
  width: 10em;
  height: 10em;
}
.containerUser {
  width: 400px;
  border-radius: 10px;
  border: 1px solid black;
}
.containerCamera {
  min-height: 20rem;
}
.cameraUser {
  width: 100%;
}
.imgVS {
  position: absolute;
  bottom: 15rem;
  width: 12em;
  height: 10em;
}
.electionUser {
  border-top: 1px solid black;
  border-radius: 9px;
}
.containerUser h1 {
  background-color: rgb(39, 39, 39);
  border-bottom: 1px solid black;
  text-align: center;
  border-radius: 9px;
}
.winContainer {
  display: flex;
  justify-content: center;
  background-color: rgb(39, 39, 39);
  padding: 20px;
  color: aliceblue;
}
